#topper{
	margin: 0 auto;
	height:135px
}
#top_1{
	border: 0px solid red;
	width: 1300px;
	height: 40px;
	text-align: center;
}
#top_2{
	border: 0px solid blue;
	text-align: right;
	width: 1300px;
	height: 40px;
	margin-left: 10px;
	
}
#top_3{
	border: 0px solid red;
	width: 1320px;
	height: 45px;
	text-align: left;
	padding-left: 30px;
	background-color:black ;
	float: left;
}
#sort{
	display: inline;
	margin:auto;
	margin-bottom: 2px;
}
ul li{
	display: inline;

}
a{
	text-decoration: none;
}
